@media screen and (min-width:400px) {

  .box {
  background-color: white;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .nav {
    background-color: white;
    grid-row: 2 / 4;
    grid-column: 1;
    padding: 20px;
    color: #EFA0D5;
}

.intro {
  background-color: white;
  grid-row: 2/4;
  grid-column: 2/4;
  padding: 0px;

  }

  .pic {
    background-color: white;
    grid-row: 1/2;
    grid-column: 1;
    padding: 20px;

  }

  .title {
      background-color: white;
      grid-row: 1;
      grid-column: 2/4;
      padding: 1px;
      float: left;
    }
    a:link {
  color: #EFA0D5;
    }
    a:visited {
      color: #E6323E;
    }
  h1 {
    color: #EFA0D5;
    text-align: center;
  }
  h2 {
  color: #E6323E;
  }
  p {
    color: #BE1931;
  }

  p:hover {
    color: #A0041E;
  }

  img {
  width: 200px;
  height: 200px;
  }
}

@media screen and (max-width:399px) {
  .box {
  background-color: white;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .nav {
    background-color: white;
    grid-row: 4;
    grid-column: 1;
    padding: 20px;
    color: #EFA0D5;
}

.intro {
  background-color: white;
  grid-row: 3;
  grid-column: 1;
  padding: 0px;

  }

  .pic {
    background-color: white;
    grid-row: 2;
    grid-column: 1;
    padding: 20px;

  }

  .title {
      background-color: white;
      grid-row: 1;
      grid-column: 1;
      padding: 1px;
      float: left;
    }
    a:link {
  color: #EFA0D5;
    }
    a:visited {
      color: #E6323E;
    }
  h1 {
    color: #EFA0D5;
    text-align: center;
  }
  h2 {
  color: #E6323E;
  }
  p {
    color: #BE1931;
  }

  p:hover {
    color: #A0041E;
  }

  img {
  width: 200px;
  height: 200px;
  }
}
